@import '/src/infrastructure/styles/colors';

.input-container {
  position: relative;
  display: flex;
  align-items: center;
  flex:1;
}

.input-text {
  max-height: 3em;
  flex:1;
  border-radius: 10px;
  border: 0;
  background-color: $grayish-white;
  color: $black;
  padding: 5px;
}

.input-icon {
  margin: -5px 5px;
  color: $grayish-white-hard;
  :hover {
    color: $black-light;
  }
  &-container {
    position: absolute;
    right: 5px;
    display:flex;
    flex-direction: column;
    padding: 0px;
    background-color: transparent;
    border: 0;
    &:hover {
      transform: scale(1.3);
    }
  }
}