@import '/src/infrastructure/styles/colors';

.base-button,.close-button {
    border: 0;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 500;
    max-height: 2em;
    padding: 5px 15px;
    display: inline-block;
    transition: background-color .24s;
    text-align: center;
    font-family: inherit;
    white-space: nowrap;
    cursor: pointer;
      color: $white;
      background-color: $black-medium;
      transition: background-color 0.25s;
      &:hover {
        background-color: $gray;
      }
}
