.header-container {
    position: sticky;
    display: flex;
    gap: 10px;
    margin: 0 -10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    top: 0;
    background-color: #ffffff;
    padding: 15px 30px;
}